<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{%  endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>
<body>

{% set navigation_bar = [
    ('/login', 'login', 'Login'),
    ('/', 'index', 'Index'),
    ('/rate', 'rate', 'Rate'),
] -%}
{% set active_page = active_page|default('index') -%}

<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Tandr</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif
          %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
      </ul>
    </div>
</nav>
{% block body %}

<b>Template file!</b>

{% endblock %}
</body>
</html>