{% extends "layout.html" %}
{% set active_page = "rate" %}

{% block title %}Tandr - Rate{% endblock %}

{% block body %}
    <div id="vote-region">
        <div class="row">
            <div class="col s6">
                <div class="card">
                    <div id="user-1" class="card-image waves-effect waves-green" onclick="rateUser(1)">

                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div id="user-2" class="card-image waves-effect waves-green" onclick="rateUser(2)">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 offset-s4 center">
                <div id="devil" class="ui-widget-content" onmouseup="onMouseUpDevil(event)"  style="z-index: 1000000000;">
                    <img src="/static/img/devil.png" width="35%" >
                </div>
            </div>
        </div>
    </div>

    <script>
        var devil = $("#devil");
        var user1 = $("#user-1");
        var user2 = $("#user-2");
        var voteRegion = $("#vote-region");

        var user1object, user2object;

        $(document).ready(function() {
            grabUsers();
        });

        devil.draggable();

        function resetUsers() {
            resetDevil();

            voteRegion.fadeOut("slow");
            voteRegion.queue("fx", function() {
                grabUsers(this);

            });
            voteRegion.fadeIn("slow");
        }

        function grabUsers(self) {
            $.get("/api/user", function(data, status){
                var rawJsonArray = JSON.parse(data);
                user1object = rawJsonArray[0];
                user2object = rawJsonArray[1];
                user1.html("<img id='user1img' src='" + user1object.photo + "'><br><span class='card-title center'><p class='shadow'>" + user1object.name + "</p></span>");
                user2.html("<img id='user2img' src='" + user2object.photo + "'><br><span class='card-title center'><p class='shadow'>" + user2object.name + "</p></span>");
                sizeImages();
                if(self != null)
                    $(self).dequeue("fx");
            });
        }

        function sizeImages() {
            var imageWidth = window.innerWidth / 2.949;
            var imageHeight = window.innerHeight / 2;

            var user1img = $("#user1img");
            var user2img = $("#user2img");

            user1img.width(imageWidth);
            user2img.width(imageWidth);

            user1img.height(imageHeight);
            user2img.height(imageHeight);
        }

        function rateUser(number) {
            var userData;
            var otherData;
            if(number == 1) {
                userData = user1object;
                otherData = user2object;
            } else {
                userData = user2object;
                otherData = user1object;
            }

            var upIsFirst = (number == 1);

            $.post("/api/rate", {up: userData.id, down: otherData.id, upIsFirst: upIsFirst}, function (result) {
                console.log(result);
            });

            resetUsers();
        }

        function resetDevil() {
            devil.css("left", "0");
            devil.css("top", "0");
        }

        function onMouseUpDevil(e) {
            if(user1.ispointover(e.x, e.y)) {
                user1.animate({background: rgba(255,0,0,0)}, 1000);
                burnUserData(user1object);
            } else if(user2.ispointover(e.x, e.y)) {
                user2.animate({background: rgba(255,0,0,0)}, 1000);
                burnUserData(user2object);
            }
        }

        function burnUserData(data) {
            $.post("/api/burn", {id: data.id}, function(result) {
                console.log(result);
            });

            resetUsers();
        }
    </script>
{% endblock %}
